.rangos1236 {
   text-align: center;
   border: 1px;
   height: 30px;
}

.rangos1234 {
   text-align: center;

  
}

.rangos12345 {
   text-align: center;


}
.border1{
   border: solid black 1px;
   height: 50px;
   color:black;
}
.rangos123 {
   text-align: center;

  
}
.rangos12367 {
   text-align: center;
   border:  1px;
  height: 270px;
}
.rangos1238 {
   text-align: center;
font-size: 80px;
  
}
.border1{
   border: solid green;
}