/* Global */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Oswald", sans-serif;
	background-color: #fff;

	color: #1e272e;
	color: #fff;
	font-size: 16px;
}

a {
	text-decoration: none;
}

#negro {
	color: #000000;
}

ul {
	list-style: none;
}

.container {
	width: 90%;
	margin: auto;
}

/* Navigation */
.nav-main {
	font-size: 17px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding: 20px 0;
}
.nav > li {
	float:left;
}
.nav li a {
	background-color:rgb(255, 255, 255);
	color:rgb(0, 0, 0);
	text-decoration:none;
	padding:30px 12px;
}

.nav li a:hover {
	color: rgb(0, 110, 255);
  	opacity: calc(100%);
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
	background-color: #fff;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:relative;
}
.nav-brand {
	width: 190px;
}

/* Navbar Left */
.nav-main ul {
	display: flex;
}

.nav-main ul li {
	padding: 10px;
}

.nav-main ul li a {
	padding: 2px;
}

.nav-main ul li a:hover {
	border-bottom: 2px solid rgb(255, 255, 255);
}

.nav-main ul.nav-menu {
	flex: 1;
	margin-left: 14px;
}
.action {
	top: 20px;
	right: 30px;
  }
  
  .action .profile {
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
  }
  
  .action .profile img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .action .menu {
	position: absolute;
	top: 120px;
	right: -10px;
	padding: 10px 20px;
	background: rgb(255, 255, 255);
	width: 200px;
	box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	transition: 0.5s;
	visibility: hidden;
	opacity: 0;
  }
  
  .action .menu.active {
	top: 80px;
	visibility: visible;
	opacity: 1;
  }
  
  .action .menu::before {
	content: "";
	position: absolute;
	top: -5px;
	right: 28px;
	width: 20px;
	height: 20px;
	background: #fff;
	transform: rotate(45deg);
  }
  
  .action .menu ul li {
	list-style: none;
	padding: 16px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	display: flex;
	align-items: center;
  }
  
  .action .menu ul li img {
	max-width: 20px;
	margin-right: 10px;
	opacity: 0.5;
	transition: 0.5s;
  }
  
  .action .menu ul li:hover img {
	opacity: 1;
  }
  
  .action .menu ul li a {
	display: inline-block;
	text-decoration: none;
	color: #555;
	font-weight: 500;
	transition: 0.5s;
  }
  
  .action .menu ul li:hover a {
	color: #545579;
  }

hr {
	margin: 10px 0;
}

/* Responsive Button */
.menu-btn {
	cursor: pointer;
	position: absolute;
	top: 15px;
	right: 30px;
	z-index: 2;
	display: none;
}

/* SHOWCASE */

.btn {
	cursor: pointer;
	display: inline-block;
	border: 0;
	font-weight: bold;
	padding: 10px 20px;
	background: #262626;
	color: #fff;
	font-size: 15px;
	border: 1px solid #fff;
}

.btn:hover {
	opacity: 0.9;
}

.showcase {
	width: 100%;
	height: 550px;
	background: url("../img/fondoshowcase.jpg") no-repeat center center/cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: flex-end;
	padding-bottom: 50px;
	margin-bottom: 20px;
	color: #fff;
}

.slider2 {
	width: 100%;
	height: 550px;
	background: url("../img/fondologin.jpg") no-repeat center center/cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: flex-end;
	padding-bottom: 50px;
	margin-bottom: 20px;
	color: #fff;
}

.slider3 {
	width: 100%;
	height: 550px;
	background: url("../img/fondoinscripciones.jpg") no-repeat center center/cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: flex-end;
	padding-bottom: 50px;
	margin-bottom: 20px;
	color: #fff;
}

.slider {
	width: 100%;
	height: 550px;
	overflow: hidden;
}

.slider ul {
	display: flex;
	animation: cambio 30s infinite alternate linear;
	width: 300%;
}

.slider li {
	width: 100%
}

.slider img {
	width: 100%;
	height: 100%;
}

@keyframes cambio {
	0% {
		margin-left: 0;
	}

	20% {
		margin-left: 0;
	}

	25% {
		margin-left: -100%;
	}

	45% {
		margin-left: -100%;
	}

	50% {
		margin-left: -200%;
	}

	70% {
		margin-left: -200%;
	}
}

.showcase h2,
.showcase p {
	margin-bottom: 10px;
}

.showcase .btn {
	margin-top: 20px;
}

/* News Cards */
.news-cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
	margin: 70px 0;
	color: #000000;
}

.news-cards img {
	width: 100%;
	height: 180px;
}

.news-cards h3 {
	font-size: 20px;
	margin: 10px 0;
}

.news-cards a {
	padding: 10px 0;
	color: #000000;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
}

/* CARDS BANNER ONE */
.cards-banner-one {
	width: 100%;
	height: 350px;
	background: url("./img/logo\ seccion.jpg");
	margin-bottom: 40px;
}

.cards-banner-one .content {
	width: 40%;
	padding: 90px 0 0 30px;
	color: #fff;
}

.cards-banner-one p,
.cards-banner-two p {
	margin: 10px 0 20px 0;
}

/* CARDS BANNER TWO*/
.cards-banner-two {
	width: 100%;
	height: 350px;
	background: url("./img/logo\ seccion.jpg") no-repeat center center/cover;

}

.cards-banner-two .content {
	width: 50%;
	padding: 100px 0 0 30px;
}

/* Follow */
.social {
	margin: 50px;

}

.social p {
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
	color: #000000;
}

.links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.links a {
	margin: 0 30px;
}

.links a i {
	font-size: 3rem;
}

/* Links */
.footer-links {
	background: #2f3640;
	color: #616161;
	font-size: 11px;
	padding: 15px 0;
	color: #fff;
}

#blanco {
	color: #fff;
	
}

.footer-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5px;
	align-items: flex-start;
	justify-content: center;
	color: #fff;
}

.footer-container ul {
	margin: 0 auto;
}

.footer-links li {
	line-height: 1.8;
}

.footer {
	background: #2f3640;
	color: #616161;
	font-size: 12px;
	padding: 20px 0;
	text-align: center;
	font-size: 1rem;
	padding-bottom: 10px;
}

/* Mobil */
@media (max-width: 700px) {
	.menu-btn {
		display: block;
		color: white;
	}

	.menu-btn:hover {
		opacity: 0.5;
	}

	.nav-main ul.nav-menu {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: #2f3640;
		width: 50%;
		height: 100%;
		border-right: rgb(172, 159, 159) 1px solid;
		opacity: 0.9;
		padding: 30px;
		transform: translateX(-500px);
		transition: transform 0.5s ease-in-out;
		color: white;

	}

	.nav-main ul.nav-menu li {
		padding: 20px;
		border-bottom: #ccc solid 1px;
		font-size: 14px;

	}

	.nav-main ul.nav-menu li:last-child {
		border-bottom: 0;
	}

	.nav-main ul.nav-menu.show {
		transform: translateX(-20px);
	}

	.nav-main ul.nav-menu-right {
		margin-right: 50px;
	}

	.news-cards {
		grid-template-columns: repeat(2, 1fr);
	}

	.cards-banner-one .content,
	.cards-banner-two .content {
		width: 80%;
	}

	.footer-links .footer-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 500px) {
	.news-cards {
		grid-template-columns: 1fr;
	}

	.cards-banner-one .content,
	.cards-banner-two .content {
		width: 100%;
		padding: 60px 20px;
	}

	.footer-links .footer-container {
		grid-template-columns: 1fr;
	}

	.footer-links .footer-container ul {
		text-align: center;
	}
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.search {
	width: 100%;
	position: relative;
	display: flex;
  }
  
  .searchTerm {
	width: 100%;
	border: 3px solid #0948a7;
	border-right: none;
	padding: 5px;
	height: 36px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9DBFAF;
	margin-top: 4%;
	
  }
  
  .searchTerm:focus{
	color: #0948a7
  }
  
  .searchButton {
	width: 40px;
	height: 36px;
	border: 1px solid #0948a7;
	background: #0948a7;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
	margin-top: 4%;
	
  }
  
